#root {
  max-width: 1640px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.scores {
  display: flex;
  flex-direction: column;
}

.card {
  height: 20em;

  will-change: filter;
  transition: filter 300ms;
}


.card:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
