.overlay-image-container {
  animation: myAnim 3s ease 0s 1 alternate both;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Adjust the object-fit property as needed */
}

@keyframes myAnim {

  0%,
  100% {
    opacity: 0;
    transform: translateY(250px);
  }

  33.33%,
  66.66% {
    opacity: 1;
    transform: translateY(0);
  }
}
